body {
    padding-top: 5.5rem;
}

.container-fluid.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.spacing {
    padding-top: 30px;
    padding-bottom: 30px;
}

.borderline {
    border-bottom: 2px #eb1852 solid;
}

.borderline-grey {
    border-bottom: 2px #e9ecef solid;
}

.anchor {
    display: block;
    height: 115px;
    margin-top: -115px;
    visibility: hidden;
}

.evolve {
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: contain;
}

img.desaturate {
    filter: grayscale(100%);
}

img.normie-size {
    height: 25px;
}

div.notseen-spacer {
    margin: 15px 15px 15px 15px;
}

div.notseen-disclaimer {
    margin-top: -32px;
    margin-bottom: 10px;
    background-color: #eb1852;
    text-align: center;
    color: #fff;
}

div.notseen-container {
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 10px;
}

input.crypto-address {
    width: inherit;
}

div.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e9ecef;
}

i.red {
    color: #eb1852;
}
